In [1]:
import numpy as np
import pandas as pd

In [5]:
covid19 = pd.read_csv('novel-corona-virus-2019-dataset/covid_19_data.csv')

In [11]:
covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6722 entries, 0 to 6721
Data columns (total 8 columns):
SNo                6722 non-null int64
ObservationDate    6722 non-null object
Province/State     3956 non-null object
Country/Region     6722 non-null object
Last Update        6722 non-null object
Confirmed          6722 non-null float64
Deaths             6722 non-null float64
Recovered          6722 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 420.2+ KB

In [12]:
covid19.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [13]:
covid19.describe()

               SNo     Confirmed       Deaths     Recovered
count  6722.000000   6722.000000  6722.000000   6722.000000
mean   3361.500000    601.195924    19.855846    226.341267
std    1940.618587   4896.332140   204.486922   2556.035202
min       1.000000      0.000000     0.000000      0.000000
25%    1681.250000      2.000000     0.000000      0.000000
50%    3361.500000     13.000000     0.000000      0.000000
75%    5041.750000    108.000000     1.000000     11.000000
max    6722.000000  67800.000000  3122.000000  56927.000000

In [14]:
covid19.isnull()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
6717,False,False,True,False,False,False,False,False
6718,False,False,True,False,False,False,False,False
6719,False,False,True,False,False,False,False,False
6720,False,False,True,False,False,False,False,False
6721,False,False,True,False,False,False,False,False